.header a{
    font-family: medium;
    color: #000;
    font-size: 15px;
 }
.navbar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
.nav-text .nav-link{
    /* padding-left: 50px; */
 
}
.header .navbar-brand img{
    width: 35%;
}
.nav-link{
    margin: 10px;
    padding-left: 30px;
} 
.icon-bag{
    width: 10%;
}